<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/home.css"/>
    <title>DominionStats</title>
</head>
<body>
    <h1>Dominion Statistics</h1>
    <form method="post" action="/newgame">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Winner</th>
                    <th rowspan="2">Game End Condition</th>
                    <th rowspan="2">Kingdom Type</th>
                    <th rowspan="2">Kingdom Construction Notes</th>
                    <th rowspan="2">Expansions</th>
                    <th colspan="4">First Player</th>
                    <th colspan="4">Second Player</th>
                    <th colspan="4">Third Player</th>
                    <th colspan="4">Fourth Player</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Turn 1 Coin</th>
                    <th>Turn 2 Coin</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Turn 1 Coin</th>
                    <th>Turn 2 Coin</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Turn 1 Coin</th>
                    <th>Turn 2 Coin</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Turn 1 Coin</th>
                    <th>Turn 2 Coin</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data in database -->
                {% for row in PASSED_data %}
                    <tr>
                        <td>{{ row['winner'] }}</td>
                        <td>By: {{ row['end_condition'] }}</td>
                        <td>{{ row['kingdom_type'] }}</td>
                        <td>{{ row['notes'] }}</td>
                        <td>{{ row['sets'] }}</td>
                        <td>{{ row['first_player_name'] }}</td>
                        <td>{{ row['first_player_score'] }}</td>
                        <td>{{ row['first_player_t1_coin'] }}</td>
                        <td>{{ row['first_player_t2_coin'] }}</td>
                        <td>{{ row['second_player_name'] }}</td>
                        <td>{{ row['second_player_score'] }}</td>
                        <td>{{ row['first_player_t1_coin'] }}</td>
                        <td>{{ row['first_player_t2_coin'] }}</td>
                        <td>{{ row['third_player_name'] if row['num_players'] > 2 else "--"}}</td>
                        <td>{{ row['third_player_score'] if row['num_players'] > 2 else "--"}}</td>
                        <td>{{ row['first_player_t1_coin'] if row['num_players'] > 2 else "--"}}</td>
                        <td>{{ row['first_player_t2_coin'] if row['num_players'] > 2 else "--"}}</td>
                        <td>{{ row['fourth_player_name'] if row['num_players'] > 3 else "--"}}</td>
                        <td>{{ row['fourth_player_score'] if row['num_players'] > 3 else "--"}}</td>
                        <td>{{ row['fourth_player_t1_coin'] if row['num_players'] > 3 else "--"}}</td>
                        <td>{{ row['fourth_player_t2_coin'] if row['num_players'] > 3 else "--"}}</td>
                    </tr>
                {% endfor %}

                <!-- New data entry row -->
            </tbody>
        </table>
        <input type="submit" value="Submit New Game"/>
    </form>
</body>
</html>