thead{
    position: sticky;
    top: 0;

    background-color: aqua;
}

th{
    padding: .5em 0em;
}

td{
    padding-right: 3em;
}

table tbody tr:nth-child(2n){
    background-color: bisque;
}

input[type="number"]{
    width: 3em;
}